@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Modernized Hospital</h1>
        <p class="lead">Providing Quality Healthcare Services</p>
        <hr class="my-4">
        <div class="text-center">
            <img src="~/Images/Northern-Westchester-Hospital-Surgical.jpg" class="img-fluid" alt="Hospital Logo">
        </div>
        <p>Our hospital is committed to delivering exceptional medical care to our patients. We offer a wide range of services to meet your healthcare needs.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../Patients" role="button">Patient Portal</a>
            <a class="btn btn-primary btn-lg" href="../Nurses" role="button">Nurse Portal</a>
        </p>
    </div>
</div>