@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To Modernized Hospital of XYZ </h1>

    <img src="~/Images/Northern-Westchester-Hospital-Surgical.jpg" alt="Hospital Logo" />
    <h3> This is a very useful programme for recording information about both patients and staff. All personnel are able to get updates to this application. </h3>
    <p>Please enter The information of your Patient <a href="../Patients"> Login here!</a></p>
    <br/>
    <p>Please enter The information of your Nurse <a href="../Nurses"> Login here!</a></p>

</div>
